body {
    text-align: center;
    background-color: whitesmoke;
    
    
  }
   li::before {content: "-" ; color: red ; font-size: 20px; font-weight: bold   }
  
  .container{
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style: none;
  }

  img {
    border-radius: 45%;
  }
  .Job{
    padding-right: 40%;
  }
  .Dep{
    display: flex;
    justify-content: space-around;
  }
  
  h1 {
    color: #e6b63b;
  }
  p {
    color: #e6b63b;
  }

  .Button{
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    font-size:15px;
    border-radius:15px;
    color:black;
    background-color:white;
  }
  button{
    font-size:15px;
    border-radius:15px;
    box-shadow: 10px 10px 10px 10px  gray;
    border: none;
  }
  main {
    /*  margin-top:200px; */
    margin: 200px auto 0px auto;
    width: 450px;
    height: 450px;
    border-radius: 50px;
    padding-top: 50px;
    background-color: white;
    box-shadow: -5px -5px 10px 10px rgb(244, 241, 241)  }

  .profile-items{
    margin-top:17px;
}
  